.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  padding: 3em 2em;                 // More padding
  margin-bottom: 2em;
}

.site-masthead h1 {
  font-family: $title-font-family;
  font-size: 3em;
  margin-bottom: 0.3em;
  margin-top: 0;
  padding: 0 1rem;
  font-weight: 600;
  color: $text-color;
  
  @media (min-width: $on-tablet) {
    font-size: 4.5em;
  }
}

.site-masthead h2 {
  color: $muted-text-color;
  font-family: $body-font-family;
  font-size: 1.1em;
  margin: 0;
  padding: 0 1rem;
  font-weight: 400;
  font-style: italic;              // Make subtitle italic
  
  @media (min-width: $on-tablet) {
    font-size: 1.5em;
  }
}
