.site-navigation {
  margin-bottom: 1rem;
  padding: 0 1rem;

  &:hover,
  &:focus-within {
    a { opacity: .7; }
  }
}

.site-navigation ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2em;
}

.site-navigation li {
  list-style: none;
  margin: 0;

  &.active a {
    text-decoration: underline;
  }
}

.site-navigation a {
  display: block;
  padding: .3em .7em;
  font-family: $ui-font-family;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  color: $text-color;
  transition: opacity .125s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
    color: $brand-color;
  }
}
